---
import HeaderButton from "./HeaderButton.astro";
---
<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <div class="mx-auto text-center mb-8 lg:mb-16">
        <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
            SpaceX Launches 🚀
        </h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
            All information about SpaceX Launches
        </p>
    </div>
    <nav class="flex flex-col items-center justify-between w-full text-center md:flex-row">
        <HeaderButton class="text-white" href="/">
            <svg class="inline" slot="before" width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M16 18a2 2 0 0 1 2 2a2 2 0 0 1 2 -2a2 2 0 0 1 -2 -2a2 2 0 0 1 -2 2zm0 -12a2 2 0 0 1 2 2a2 2 0 0 1 2 -2a2 2 0 0 1 -2 -2a2 2 0 0 1 -2 2zm-7 12a6 6 0 0 1 6 -6a6 6 0 0 1 -6 -6a6 6 0 0 1 -6 6a6 6 0 0 1 6 6z" /></svg>
            Next Launches
        </HeaderButton>
        <HeaderButton class="text-white" href="/oldest">
            <svg class="inline" slot="before" width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M21 5v14l-8 -7z" /><path d="M10 5v14l-8 -7z" /></svg>
            Previous Launches</HeaderButton>
        <HeaderButton class="text-white" href="/about">
            <svg class="inline" slot="before" width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9h.01" /><path d="M11 12h1v4h1" /><path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z" /></svg>
            About the project
        </HeaderButton>
    </nav>
</header>